{{define "bodyClass"}}page list{{end}}
{{define "body"}}
<main>
  <h1>{{.Title | humanize}}</h1>
  <center>{{.Content}}</center>

  {{ range (where .RegularPages "Section" "!=" "").GroupByDate "2006" }}
  <ul>
    Posts in year {{ .Key }}:
    {{ range .Pages }}
    <li><a href="{{.Permalink}}"> {{.Title}}</a></li>
    {{end}}
  </ul>
  {{end}}

  {{with .Paginator.Pages}}
  <ul class="posts">
    {{ range .}}
    {{partialCached "card.html" . .Permalink}}
    {{ end }}
  </ul>
  {{end}}
  {{ template "_internal/pagination.html" (dict "page" . "format" "terse") }}
</main>
{{end}}